@import url('https://fonts.googleapis.com/css?family=Kurale|Shadows+Into+Light|Spectral&display=swap');

@media (min-width: 576px)
.jumbotron {
    padding: 0rem 0rem;
}

body {
	font-family: 'Kurale', serif;
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Spectral', serif;
}

.jumbotron {
    padding: 0rem 0rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

#intro-section {
	background-image: url(../images/backgrounds/h_img.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
}

#intro-content {
    text-align: center;
    color: white;
}

#logo {
    text-align: center !important;
    padding-top: 18%;
}

#karibu {
    font-size: 2.5rem;
    padding-top: 2%;
}

#mouse-click {
    text-align: center !important;
    padding-top: 7%;
    padding-bottom: 2%;
}