@import url('https://fonts.googleapis.com/css?family=Kurale|Shadows+Into+Light|Spectral&display=swap');

body {
	font-family: 'Kurale', serif;
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Spectral', serif;
}
